/* Estilos básicos para o footer */
.footer {
    background-color: #90b4df; /* Cor de fundo do footer */
    color: #fff; /* Cor do texto */
    text-align: center; /* Centraliza o texto */
    padding: 20px; /* Espaçamento interno */
  }
  
  .footer p {
    margin: 0;
    font-size: 1rem;
  }
  
  .footer strong {
    font-weight: bold; /* Deixa o nome em negrito */
  }
  
  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .footer p {
      font-size: 0.9rem;
    }
  }
  